<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body class="page-category">
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.php">Home</a></li>
			{% if view == 'Set' %}<li><a href="sets.php">Sets</a></li>{% endif %}
			<li class="breadcrumb-item active">{{categoryTitle}}</li>
		</ol> 
    </nav>

	<div class="container">

		<div class="row">
			{% for image in images %}
				{% if image.hideOnCategory != true %}
					{% if image.partOfSet == false %}
						<div class="col-12 col-md-6 col-lg-4 text-center mb-4">
							{% include 'common/card-link.html' %}
						</div>
					{% endif %}
					{% if image.setCount != null %}
					<div class="col-12 col-md-6 col-lg-4 text-center mb-4">
						{% if image.story == null %}
							<a href="set.php?set={{image.set}}&category={{image.category}}" class="link">
								<div class="card w-100 category-card {{ image.category|replace({' ': ''}) }}" data-content="{{image.set}}">
									<div class="card-body" style="color: white;">
										<i class="fal fa-layer-group cat-header"></i>
										<h1 class="category-card-header">
											{{ image.set }}
										</h1>
									</div>
								</div>
							</a>
						{% else %}
							<a href="story.php?set={{image.set}}&category={{image.category}}"  class="link category-link">
								<img src="{{image.folder}}/thumbnail.jpg" class="img-responsive" />
								<div class="caption">{{ image.set }}</div>
							</a>
						{% endif %}
					</div>	
					{% endif %}
				{% endif %}
			{% endfor %}
		</div><!-- .row -->
	</div><!-- .container -->

	<br/>

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

	<script type="text/javascript">
		// $('#gallery').justifiedGallery({
	    // 	rowHeight : 270,
	    // 	lastRow : 'nojustify',
	   	// 	margins : 3,
	   	// 	captions : true
		// });
	</script>

	<a href="#" class="go-top"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i>  <span th:text="#{footer.goToTop}">Top</span></a>

</body>
</html>