<!doctype html>

<head> 
   {% include 'common/meta.html' %}
   {% include 'common/styles.html' %}
</head>

<body class="page-photo">
   	<?php include_once("analyticstracking.php") ?>
   	{% include 'common/nav.html'%}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.php">Home</a></li>
			<li class="breadcrumb-item"><a href="{{urlCategory}}">{{category}}</a></li>
			{% if urlSet != null %}
				<li class="breadcrumb-item"><a href="{{urlSet}}">{{set}}</a></li>
			{% endif %}
			<li class="breadcrumb-item active">{{shortTitle}}</a></li>
		</ol> 
    </nav>

	<div class="container-fluid">
		<div class="row row-photo">
			<!-- <a href="{{urlPrevious}}" class="col-nav hidden-xs">
				<div class="col-xs-1">
					<button class="btn btn-link btn-nav" href="#"><i class="fas fa-chevron-left"></i></button>
				</div>
			</a> -->
			<div class="col-12">
				{% if photo.youtube == null %}
					<img src="{{photo.folder}}/photo.jpg" class="img-responsive bordered" />
				{% else %}
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{photo.youtube}}?rel=0"></iframe>
					</div>
					
				{% endif %}

				{% if photo.caption == null %}
					
				{% else %}
					<div class="my-4">{{photo.caption | raw}}</div>
				{% endif %}
				{% if photo.document != null %}
					<div class="document mt-4"><a href="{{photo.document}}" target="_blank"> <i class="fal fa-paperclip"></i> Summary Document</a></div>
				{% endif %}
			</div><!-- .col -->
			<!-- <a href="{{urlNext}}" class="col-nav hidden-xs">
				<div class="col-xs-1">
					<button class="btn btn-link btn-nav" href="#"><i class="fas fa-chevron-right" aria-hidden="true"></i></button>
				</div>
			</a> -->

		</div><!-- .row -->
	</div><!-- .container -->

	<div class="container-fluid d-none">
		<div class="row">
			<div class="col-xs-6 text-center">
				<a class="btn btn-link btn-nav" href="{{urlPrevious}}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
			</div><!-- .col -->
			<div class="col-xs-6 text-center">
					<a class="btn btn-link btn-nav" href="{{urlNext}}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
				</div><!-- .col -->
		</div><!-- .row -->
	</div><!-- .container -->

	<div class="container-fluid">
		<div class="row">
			Tags: {% for tag in tags %}{% if loop.index > 1 %}, {% endif %}<a href="/tag.php?tag={{tag}}">{{ tag }}</a>{% endfor %}
		</div>
	</div>

	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}
	
</body>
</html>