<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body class="page-set">
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.php">Home</a></li>
			<li class="breadcrumb-item"><a href="category.php?category={{categoryTitle}}">{{categoryTitle}}</a></li>
			<li class="breadcrumb-item active">{{setTitle}}</li>
		</ol> 
    </nav>

	<div class="container">
		<div class="row">

			{% for image in images %}
				{% if image.hideOnSet != true %}
				<div class="col-12 col-sm-6 col-lg-4 text-center mb-4">
					<a href="photo.php?photo={{image._id}}" class="link">
						{% if image.youtube == null %}
							<img src="{{image.folder}}/thumbnail.jpg" class="img-fluid" />
						{% else %}
							<img src="https://img.youtube.com/vi/{{image.youtube}}/hqdefault.jpg" class="img-fluid" />
						{% endif %}
						<h5 class="caption mt-1">{{ image.title }}</h5>
					</a>
					{% if image.document != null %}
						<div class="document mt-1"><a href="{{image.document}}" target="_blank"> Summary Document</a></div>
					{% endif %}
				</div>
				{% endif %}
			{% endfor %}

		</div><!-- .row -->
	</div><!-- .container -->

	<br/>

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

</body>
</html>