<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body class="page-set">
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.php">Home</a></li>
			<li class="breadcrumb-item"><a href="tags.php">Tags</a></li>
			<li class="breadcrumb-item active">{{tag}}</li>
		</ol> 
    </nav>

	<div class="container">
		<div class="row">

			{% for image in images %}
				{% if image.hideOnSet != true %}
					<div class="col-12 col-sm-6 col-lg-4 text-center mb-4">
						{% include 'common/card-link.html' %}
					</div>
				{% endif %}
			{% endfor %}

		</div><!-- .row -->
	</div><!-- .container -->

	<br/>

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

</body>
</html>