<!doctype html>

<head>
	{% include 'common/meta.html' %}
	{% include 'common/styles.html' %}
</head>
<body>
	<?php include_once("analyticstracking.php") ?>
	{% include 'common/nav.html' with {'foo': 'bar'} %}

	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.php">Home</a></li>
			<li class="breadcrumb-item active">Tags</li>
		</ol> 
    </nav>

	<div class="container">

		<div class="row mt-5">

				{% for tag in tags %}
					<a href="tag.php?tag={{tag}}" class="btn btn-info mr-2">{{ tag }}</a>
					<!-- <div class="col-3 col-md-2 mb-4">
			 			<a href="tag.php?tag={{tag}}" class="link">
							<div class="card w-100 tag-card">
								<div class="card-body" style="color: white;">
									<p> <i class="fal fa-tag"></i> {{ tag }}</p>
								</div>
							</div>
						</a>
					</div> -->
				{% endfor %}
			

			<!--{{cards}}-->
			{% if name is empty %}
			{% set name = "test" %}
			{% endif %}

		</div><!-- .row -->
	</div><!-- .container -->

	<br/>

	{% include 'common/footer.html' %}
	{% include 'common/scripts.html' %}
	{% include 'common/tracking.html' %}

</body>
</html>