{% if image.type != 'video' and image.type != 'document'  and  image.type != 'link' %}
    <a href="photo.php?photo={{image._id}}" class="link">
        <img src="{{image.folder}}/thumbnail.jpg" class="img-fluid" />
        <div class="caption mt-3"><h4>{{ image.title }}</h4></div>
    </a>
{% endif %}
{% if image.type == 'document' or image.type == "link" %}
    <a href="{{image.document}}" class="link" target="_blank">
        <div class="card w-100 category-card category-card-document {{ image.category|replace({' ': ''}) }}" data-content="{{image.set}}">
            <div class="card-body" style="color: white;">
                {% if image.type == 'document' %}
                    <i class="fas fa-file-download cat-header"></i> 
                {% else %}
                     <i class="fas fa-external-link cat-header"></i> 
                {% endif %}
                <h1 class="category-card-header">
                    {{ image.title }} {% include 'common/new-badge.html' with {'view':'card'} %} 
                </h1>
            </div>
        </div>
    </a>
{% endif %}
{% if image.type == 'video' %}
    <a href="photo.php?photo={{image._id}}" class="link">
        {% if image.youtube != null %}
            <div class="card w-100 category-card category-card-youtube" data-content="{{image.set}}" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://img.youtube.com/vi/{{image.youtube}}/hqdefault.jpg')">
                <div class="card-body" style="color: white;">
                    <i class="fab fa-youtube cat-header"></i>
                    <h1 class="category-card-header">
                        {{ image.title }} {% include 'common/new-badge.html' with {'view':'card'} %} 
                    </h1>
                </div>
            </div>
        {% endif %}
        {% if image.microsoft != null %}
            <div class="card w-100 category-card category-card-youtube" data-content="{{image.set}}" style="background-color: black;">
                <div class="card-body" style="color: white;">
                    <i class="fab fa-youtube cat-header"></i>
                    <h1 class="category-card-header">
                        {{ image.title }} {% include 'common/new-badge.html' with {'view':'card'} %} 
                    </h1>
                </div>
            </div>
        {% endif %}

        {% if image.vimeo != null %}
            <div class="card w-100 category-card category-card-youtube" data-content="{{image.set}}" style="background-color: black;">
                <div class="card-body" style="color: white;">
                    <i class="fab fa-youtube cat-header"></i>
                    <h1 class="category-card-header">
                        {{ image.title }} {% include 'common/new-badge.html' with {'view':'card'} %} 
                    </h1>
                </div>
            </div>
        {% endif %}

    </a>
{% endif %}

