<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-10">
				<p class="text-muted"><span>Key: &nbsp;
					<i class="fal fa-layer-group"></i> Category &nbsp;
					<i class="fab fa-youtube"></i> Video &nbsp;
					<i class="fas fa-file-download"></i> Document &nbsp;
					<i class="fas fa-external-link"></i> External Site</span>
				</p>
			</div><!-- .col -->
			<div class="col-xs-12 col-sm-2 text-right">
				<p class="text-muted">&copy; <span id="year">2020</span> MGH</p>
			</div><!-- .col -->
		</div>
	</div><!-- .container -->
</footer>