<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="index.php">
        COVID-19 Resources
        <!-- <img src="assets/images/logos/mgh-logo-cmyk-272x56.png" width="272" height="56" class="img-fluid navbar-brand-image"
        srcset="
            assets/images/logos/mgh-logo-cmyk-272x56.png 1x,
            assets/images/logos/mgh-logo-cmyk-272x56@2x.png 2x,
            assets/images/logos/mgh-logo-cmyk-272x56@3x.png 3x,
            assets/images/logos/mgh-logo-cmyk-272x56@4x.png 4x"
        /> -->
    </a>

    <ul class="navbar-nav ml-md-auto">
        <a href="https://covidpass.partners.org/employee/login" target="_blank" class="btn btn-primary btn-block">
            <i class="fas fa-passport"></i> <span class="d-none d-md-inline">&nbsp;Daily Work Pass </span>
            
        </a>
    </ul>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
    </div> -->
</nav>