a.link:hover {
    text-decoration: none;
}

.tag-card {
    min-height: 50px;
    background-color: $primary;
    .card-body {
        padding-top: 10px !important;
        padding-bottom: 0px !important;
    }
}
.categories-card,
.category-card {
    min-height: 200px;
    background-color: $primary;   
}
.categories-card-header,
.category-card-header {
    text-align: left;
    color: white;
    font-weight: 600;
    font-size: 1.5rem !important;

    small {
        font-size: 1rem;
        line-height: 1rem;
    }
}

.cat-header {
    float: right;
    font-size: 1.5rem;
}




.categories-card.GeneralReference,
.category-card.GeneralReference{
    background-color: $GeneralReference-color;   
}


.categories-card.TreatmentandCare,
.category-card.TreatmentandCare{
    background-color: $TreatmentandCare-color;   
}

.categories-card.SupportandLogistics,
.category-card.SupportandLogistics{
    background-color: $SupportandLogistics-color;   
}

.categories-card.AdvancedPPE,
.category-card.AdvancedPPE{
    background-color: $AdvancedPPE-color;   
}

.categories-card.Anesthesia,
.category-card.Anesthesia{
    background-color: $Anesthesia-color;   
}


.categories-card.CriticalCare,
.category-card.CriticalCare{
    background-color: $CriticalCare-color;   
}



.category-card-youtube {
    background-size: cover;
    background-position: center;
    background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}















@include media-breakpoint-up(xxs) { }
@include media-breakpoint-up(xs) { }
@include media-breakpoint-up(sm) { }
@include media-breakpoint-up(md) { }
@include media-breakpoint-up(lg) { }
@include media-breakpoint-up(xl) { }

@include media-breakpoint-down(xxs) { }
@include media-breakpoint-down(xs) {
    .categories-card,
    .category-card {
        min-height: 100px;    

        .categories-card-header,
        .category-card-header {
            font-size: 1.5rem;
        }
    }
}
@include media-breakpoint-down(sm) { }
@include media-breakpoint-down(md) { }
@include media-breakpoint-down(lg) { }

@include media-breakpoint-only(xxs) { }
@include media-breakpoint-only(xs) { }
@include media-breakpoint-only(sm) { }
@include media-breakpoint-only(md) { }
@include media-breakpoint-only(lg) { }
@include media-breakpoint-only(xl) { }

@include media-breakpoint-between(md, xl) { }