.session {
	p {
		font-size: 16px;
		padding-bottom: 20px;
	}

	h1 {
		margin-top: 25px;
	}

	h2 {
		margin-top: 30px;
		margin-bottom: 30px;
	}

}

.col-card {
 		padding-left: 0px;
 		padding-right: 0px;
 	}

.btn-back {
	font-size: 20px;
	color: #ccc;
}

// @media (max-width: $screen-xs-max) {
//  	.col-card {
//  		padding-left: 1px;
//  		padding-right: 1px;
//  	}

// }

.list-all {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1rem;
		margin-bottom: 2rem;

		.fas, .fab, .fal, .far, .fa {
			font-size: .7rem;
		}
	}

	h3.indent {
		margin-left: 2rem;
	}
}