@import "variables/colors";
@import "variables/variables"; 

$theme-colors: (
  "primary": #423393,
  "danger": #ff4136
);

$GeneralReference-color: 	$red-600;
$TreatmentandCare-color:	$deep-purple-600;
$SupportandLogistics-color:	$cyan-600;
$AdvancedPPE-color:			$amber-500;
$Anesthesia-color:			$orange-700;
$CriticalCare-color:		$blue-900;		

@import "../../bootstrap-4.3.1/scss/bootstrap";

@import "cards";
@import "breadcrumbs";
@import "footer";
@import "go-top";
@import "jumbotron";
@import "layout";
@import "mixins";
@import "navbar";
@import "photo";
@import "section";
@import "sticky-footer";

h3 {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 300;
}